@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Arista Pro Alternate';
    src: url('../fonts/arista-pro-alternate-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

[x-cloak] {
    display: none;
}

.text-rosado {
    color: #ff003d;
}

.bg-rosado {
    background-color: #ff003d;
}

.text-azul {
    color: #020c27;
}

.bg-azul {
    background-color: #020c27;
}

/* Clase global para la fuente */
.font-arista {
    font-family: 'Arista Pro Alternate', sans-serif;
}

.feature-card {
    padding: 1rem;
    gap: 0.5rem;
    display: flex;
    align-items: center;
}

.mini-feature {
    background-color: #ff003d;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
    text-align: center;
}