@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Arista Pro Alternate';
    src: url('/fonts/arista-pro-alternate-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

[x-cloak] {
    display: none;
}


.text-rosado {
    color: #ff003d;
}

.bg-rosado {
    background-color: #ff003d;
}

/* Clase global para la fuente */
.font-arista {
    font-family: 'Arista Pro Alternate', sans-serif;
}

.feature-card{
   padding: 1rem;
   border-radius: 0.5rem;
   color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

